* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
body {
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #121214;
  color: rgb(255, 255, 255);
  z-index: 3;
}
body::-webkit-scrollbar{
  width: 10px;

}
body::-webkit-scrollbar-thumb{
  background-image: linear-gradient(to bottom, #ffa400, #00aefd);
  border-radius: 100rem;

}
body::-webkit-scrollbar-track{
  background-color: #ccc;
  border-radius: 100rem;

}
header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 8%, rgba(0, 0, 0, 0) 90%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
header a{
  text-decoration: none;
}


.logo {
  font-family: "Kumar One", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2.4em;
  color: #15b088;
  user-select: none;
}
.navigation{
    display: flex;
    flex-wrap: wrap;
}
.navigation a {
    text-align: center;
    justify-content: center;
    align-items: center;
  position: relative;
  font-size: 1em;
  color: #ffffff;
  text-decoration: none;
  font-weight: 550;
  margin-bottom: 10px;
  margin-left: 35px;
}
.pgp{
    padding-top: 5px;
}
.goicuoc{
  margin: auto;
  margin-right: 10px;
}
.goicuoc a{
  text-decoration: none;
  white-space: nowrap;
}
.goicuoc a button{
  border: none;
  border-radius: 20px;
  width: 90px;
  height: 30px;
  text-align: center;
  
  cursor: pointer;
}
/* .navigation a::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -6px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
} */
.nav1-c{
  margin: 10px;
  display: flex;
}
.form-submit .btnLogin-popup {
  margin: 6px;
  width: 111px;
  height: 36px;
  background-color: #15b088;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  transition: 0.5s linear;
}
.form-submit{
    margin: 0;
    padding: 0;
    display: flex;
}
.navigation .btnLogin-popup:hover {
  background: #000000;
  color: #ffffff;
}

.voboclogin {
    z-index: 9999;
    position: absolute;
    width: 750px;
    height: 491px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    transition: transform 0.7s ease, height 0.2s ease;
}



.voboclogin.active-popup {
  transform: scale(1);
}

.voboclogin.active-popup.xoahet {
  display: none;
}

.voboclogin.active {
  height: 500px;
}

.voboclogin .from-box {
  width: 100%;
  padding: 40px;
}

.voboclogin .from-box.login {
  transition: transform 0.7s ease;
  transform: translateX(0);
}

.voboclogin.active .from-box.login {
  transition: none;
  transform: translateX(-750px);
}

.voboclogin .from-box.register {
  position: absolute;
  transition: none;
  transform: translateX(750px);
}

.voboclogin.active .from-box.register {
  transition: transform 0.7s ease;
  transform: translateX(0);
}

.voboclogin .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #162938;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}
.form-logo1{
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.code-qr{
    margin: 10px;
    width: 300px;
    height: 300px;
    background-color: #15b088;
}

.from-box h2 {
  font-size: 1.9em;
  margin-bottom: 50px;
  color: #ffffff;
  text-align: center;
}
.from-box .h2 {
  margin: auto;
  justify-content: center;
  font-size: 1.9em;
  color: #ffffff;
  text-align: center;
}
.input-box {
  position: relative;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #ffffff;
  margin: 20px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 0.9em;
  color: #ffffff;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
  outline: none;
  font-size: 1em;
  color: #fff;
  font-weight: 600;
  padding: 0 35px 0 5px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #b0d2e4;
  line-height: 57px;
}

.remember-forgot {
  font-size: 0.9em;
  color: #fff;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;
}

.remember-forgot a {
  color: #ffffff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.login-register {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  margin: 5px;
}
.login-register p a:hover {
  text-decoration: underline;
}
.iconweb {
  cursor: pointer;
  margin: auto;
  font-size: 25px;
  position: absolute;
  margin-left: 65%;
  color: #eee;
}
@media screen and (min-width: 40em) {
  .company_info {
    grid-column: span 2;
  }
}

.navigation #trangden {
  width: 45px;
  height: 30px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  font-size: 1.6em;
  color: #fff;
  font-weight: 500;
  margin-left: 30px;
  transition: 0.5s linear;
  position: absolute;
  top: 30px;
}

.navigation #trangden:hover {
  background: #fff;
  color: #162938;
}
.slider {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.slider-image {
  position: relative;
  width: 100%;
}

.slider-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #121214 0.1%, rgba(0, 0, 0, 0) 20%);
  z-index: 1;
}

.slider-image img {
  transform: scale(1.1);
  display: block;
  width: 100%;
  height: auto;
  z-index: 2;
}

@media (min-width: 1920px) {
  .home-slide {
    width: 100% !important;
    min-height: 600px !important;
  }
}
@media (min-width: 1636px) {
  .home-slide {
    width: 100% !important;
    min-height: 550px !important;
  }
}
@media (min-width: 1537px) {
  .home-slide {
    width: 100% !important;
    min-height: 500px !important;
  }
}

/* search */
.container-2{
  margin: 5px 16px 0 0;
  width: auto;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-2 input#search{
  background: none;
  margin: auto;
  width: 35px;
  height: 35px;
  border: none;
  font-size: 10pt;
  float: right;
  padding-left: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 20px;
  color: #fff;
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}
.container-2 input#search::-webkit-input-placeholder {
  font-size: 0.1em;
  
}
.container-2:hover input#search::-webkit-input-placeholder{
  font-size: 1.1em;
  color: #b3b3b3;
}
.container-2 .icon1{
  font-size: 2em;
  position: absolute;
  margin-left: 10px;
  margin-top: 3px;
  right: 5px;
  z-index: 1;
  color: #ffffff;
}
.icon1 ion-icon{
  cursor: pointer;
  height: 30px;
}
.container-2 input#search:focus, .container-2 input#search:active{
  border-radius: 20px;
  border: 1px solid #ffffff;
  outline:none;
  width: 250px;
}
.container-2:hover input#search{
width: 250px;
border: 1px solid #ffffff;
}
.container-2:hover .icon1{
  color: #cbcbcb;
}


.submit-button1{
  display: none;
}


.div-112{
  width: 100%;
  margin-top: 30px;
  padding: 10px 0;
}
.div-112 .div-113{

  width: 100%;
  padding-left: 40px;
}
.div-112 .div-113 .scrollbar{
  -webkit-overflow-scrolling: touch; /* Cho phép cuộn mượt trên các thiết bị cảm ứng */
  overflow-x: scroll;
  display: flex;
  height: 400px;
  overflow-y: hidden;
}
.scrollbar::-webkit-scrollbar{
  width: 0px;
}
.scrollbar .sach1{
  width: 224px;
  height: 384px;
  margin: 40px 0;
  margin: 15px;
}
.sach1 img{
  border-radius: 10px;
  width: auto;
  height: 327px;
}
.scrollbar .sach1 a{
  text-decoration: none;
}
.scrollbar .sach1 p{
  margin-top: 15px;
  font-size: 1em;
  color: #ffffff;

  font-weight: 550;
}
.div-mota{
  background-image: 
  radial-gradient(circle at 10% 60%, #24ff45 1px, transparent 20%), /* Gradient màu xanh ở giữa */
  radial-gradient(circle at 80% 60%, transparent 1%, #4b4b4b 80%); /* Gradient màu đen xung quanh */
background-blend-mode: screen;

  padding: 110px 60px;
}
.box-bewen{
  height: 550px;
  margin-top: 20px;
  display: flex;
}
.back{
  display: flex;

}
.back a{
  text-decoration: none;
  color: #fff;
  font-size: 0.8em;
  font-weight: 500;
  
}
.box-bewen img{
  border-radius: 15px;
  max-width: 307px;
  height: 450px;
}
.box-bewen1{
  width: 100%;
  height: auto;
  margin: auto;
  display: inline;
}
.bewen1{
  overflow-y: scroll;
  padding: 0 50px;
}
.bewen1::-webkit-scrollbar{
  width: 0;
}
.box-name{
  display: flex;
  flex-wrap: wrap;
}
.bewen2{

  display: flex;
  min-width: 200px;
  height: 200px;
}
.name-sach{
  min-width: 200px;
  margin: 12px 0;
}
.name-sach p{
  margin: 5px 0;
  color: #8a8a8a;
}
.name-sach x{
  color: #f7f7f7;
}
hr{
  border: none;
  height: 1px;
  background-color: #807e7e;
  margin: 20px 0;
}
.mota-sach p{
  margin-top: 15px;
  line-height: 1.5em;
}
.chonnoidung .loaisach{
  margin: 5px 0;
}
.chonnoidung .loaisach button{
  cursor: pointer;
  background-color: #807e7e;
  width: 115px;
  height: 32px;
  border-radius: 5px;
  border: none;
  margin: 0 5px;
}
.chonnoidung .loaisach button p{
  color: #fff;
}
.buton-btn {
  margin-top: 20px;
}
.buton-btn button{
  font-size: 1.1em;
  font-weight: 600;
  color: #fff;
  background-color: #15b088;
  border-radius: 25px;
  border: none;
  min-width: 233px;
  min-height: 48px;
}